.App-header{
    height:15vh;
    min-width: 100%;
    /* border:1px solid black; */
    display:flex;
    background-color: #a3a7a3;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right:0px;
    z-index: 4;
    align-items: center;
}
.App-logo{
    max-height: 15vh;
    max-width: 30vh;
}

/* @media only screen and (max-width: 768px) {
    .App-header {
        min-width: 100vh;
    }
} */
