.App-Card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-width: 300px;
    max-width: 300px;
    min-height: 400px;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    margin-right: 5px;
    scroll-snap-align: start;
    background-color: white;
    border-radius:15px;
    justify-content: space-around;
    
}
/* .App-Card:hover{
    transform: translateY(-20px);
} */
.Img-card{
    margin: 0;
    max-height: 150px;
    text-align: center;
}
.imgEl{
    background-image: cover;
    margin: 0;
    max-height: 150px;
    padding: 10px;
}
.Text-card {
     max-height: 250px;
     padding: 15px;
     padding-top: 5px;
 }
.titleEl{
    font-size: 18px;
    padding: 15px;
}
.priceEl{
    font-size: 15px;
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.view {
    cursor: pointer;
    position: relative;
    left: 120px;
    background-color:#2596be;
    padding: 5px;
    border-radius: 7px;
    color:white;
    box-shadow: 5px 5px 3px rgb(73, 71, 71);
}
.view:hover{
    color: yellow;
}
@media only screen and (min-width:768px){
    .App-Card{
        margin: 2vh;
    }
}