.errorBox{
    color: #D8000C;
    background-color: #FFBABA;
    /* background-image: url('https://i.imgur.com/GnyDvKN.png'); */
    /* border: 1px solid; */
    margin: 0px;
    /* padding: 15px 10px 15px 50px; */
    padding: 7vh;
    /* background-repeat: no-repeat; */
    /* background-position: 2vh center; */
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    object-fit: contain;
    display: flex;
    justify-content:space-around;
}
.errorText {
    margin: 0;
    object-fit: contain;
    align-self: flex-start;
    /* max-width: ; */
}
.btnBanner {
    width: 20vh;
    display: flex;
    justify-content: space-between;
}
.btnRetry {
    padding: 10px;
    border-radius: 10px;  
    background-color: greenyellow;
    border: 1px solid greenyellow;
}
.btnX {
    padding: 10px 15px 10px 15px;
    border-radius: 100%;
    background-color: red;
    border: 1px solid red;
}