.App-cover{
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(73, 71, 71);
}
@media only screen and (min-width: 768px) {
    .App-hero{
        /* border: 1px solid red; */
        height: 70vh;
        min-width: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 2%;
        background-color: #2596be;
    }
    .titleHero{
        padding: 2vh;
    }
    .App-cover{
        height: 50vh; 
    }
}

@media only screen and (max-width: 1500px) {
    .App-cover{
        height: 40vh; 
    }
    .text-wrapper {
        font-size: 0.9em;
    }
    .App-hero{
        background-color: #2596be;
    }
}

@media only screen and (max-width: 768px) {
    .descriptionHero {
        display: none;
    }
    .App-hero{
        width: 100vh;
        border: 1px solid red;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2%;
        background-color: #2596be;
    }
    .App-cover{
        width: 85vh;
    }
    .titleHero{
        padding: 2vh;
    }
}