*{
  font-family: 'Akaya Telivigala', cursive;
  font-family: 'Ubuntu', sans-serif;
}

.app-filter-box{
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 768px){
  .app-filter-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vh;
  }
}
